<h1>Admin Dashboard</h1>

<%%>
<%= link_to 'Students', students_path, class: "btn btn-outline-primary text-decoration-none" %>
<br>
<%= link_to 'Tutors', tutors_path, class: "btn btn-outline-primary text-decoration-none" %>