<h1> Welcome to Langua-tutor!</h1>
<h3> Pick a language below to start finding tutors </h3>
<%# <ul class="list-unstyled">
    
</ul> %>

<% @subjects.each do |subject|%>
    <%= link_to subject_path(subject.id) do %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <%= subject.name %>
            </div>
        </div>
    <% end %>
<%end%>